<h1 class="title">{{title}}</h1>

<table *ngIf="modo=='listar'">
  <tr>
    <th>Nome Completo</th>
    <th>Email</th>
    <th>Data de Nascimento</th>
    <th>Escolaridade</th>
    <th>Excluir</th>
  </tr>
  <tr *ngFor="let user of Users">
    <td>{{user.nome}} {{user.sobrenome}}</td>
    <td>{{user.email}}</td>
    <td>{{user.dataNascimento.substr(0,10)}}</td>
    <td>{{user.escolaridade}}</td>
    <td><button type="submit" class="btn btn-primary" (click)="RemoverUsuario(user)"><h1>&times;</h1></button></td>
  </tr>
</table>

<div id="modal" *ngIf="modo=='adicionar'">
    <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group">
        <label for="inputAddress"><h2 class="text-center">Nome *</h2></label>
        <input type="text" formControlName="nome" class="form-control" id="inputAddress" placeholder="Digite seu nome"
        (blur)="AtualizarUsuario()"
        [ngClass]="{'input-error': !form.get('nome')?.pristine && form.get('nome')?.errors}">
      </div>
      <div class="form-group">
        <label for="inputAddress"><h2 class="text-center">Sobrenome *</h2></label>
        <input type="text" formControlName="sobrenome" class="form-control" id="inputAddress" placeholder="Digite seu sobrenome"
        [ngClass]="{'input-error': !form.get('sobrenome')?.pristine && form.get('sobrenome')?.errors}">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4"><h2 class="text-center">Email *</h2></label>
      <input type="email" formControlName="email" class="form-control" id="inputEmail4" placeholder="Digite seu Email"
      [ngClass]="{'input-error': !form.get('email')?.pristine && form.get('email')?.errors}">
    </div>
    <div class="form-group">
      <label for="inputAddress"><h2 class="text-center">Data de Nascimento *</h2></label>
      <input type="text" maxlength="10" mask="00/00/0000" formControlName="dataNascimento" mask="00/00/0000" class="form-control" placeholder="dd/MM/yyyy" id="inputAddress"
      [ngClass]="{'input-error': !form.get('dataNascimento')?.pristine && form.get('dataNascimento')?.invalid}" (change)="validaData(form.get('dataNascimento')?.value)">
    </div>
    <div class="form-group">
      <label><h2 class="text-center">Escolaridade *</h2></label>
      <select formControlName="escolaridade" class="custom-select" [ngClass]="{'input-error': !form.get('escolaridade')?.pristine && form.get('escolaridade')?.value == 0}">
        <option value="0" disable selected>Selecione</option>
        <option value="1"  selected>Infantil</option>
        <option value="2"  selected>Fundamental</option>
        <option value="3"  selected>Médio</option>
        <option value="4"  selected>Superior</option>
      </select>
    </div>
    <br>
    <button type="button" class="btn btn-primary buttonCadastrar" (click)="CadastrarUsuario()" [disabled]="form.invalid">Cadastrar</button>
    
    <button class=" add-button buttonCancelar" (click)="AlterarModo('listar')" *ngIf="modo=='adicionar'">&crarr;</button>
  </form>
</div>
<br>

<button class=" add-button button" (click)="AlterarModo('adicionar')" *ngIf="modo=='listar'">Casdatrar novo Usuário</button>